<!-- in views/bookmarks/index.erb -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bookmarks</title>
    <link rel="stylesheet" href="<%= url('/stylesheets/sheet.css') %>">
  </head>
  <body>
    <h2>Bookmarks</h2>
    <ul>
      <% @bookmarks.each do |bookmark| %>
        <li>
          <a href="<%= bookmark.url %>">
            <%= bookmark.title %>
          </a>
          <form class="" action="/bookmarks/<%= bookmark.id %>" method="post">
            <input type='hidden' name='_method' value='DELETE'/>
            <input type="submit" name="" value="<%= bookmark.title %> Delete">
          </form>
        </li>
        <br>
      <% end %>
    </ul>
  </body>
</html>
